h1 {
    font-family: 'Satisfy', cursive;
    text-align: center;
    font-size: 3.8em;
}
.container div {
    text-align: center;
    /*background-color: aqua;*/
    background-image: url("../images/border.svg");
    background-size: 100%;
    background-repeat: no-repeat;
    margin: 5px 7%;
    height: 170px;
}
.container div a {
    color: black;
}
.container div a:hover {
    text-decoration: none;
}
.container div a:hover h2 {
    color: #5b6919;
    font-weight: bold;
}
.container div a h2 {
    font-family: 'Comfortaa', cursive;
    color: #697a1c;
    font-size: 1.4em;
    padding-top: 33px;
}
.container div a p {
    font-size: 0.9em;
    padding: 0 35px;
}