h1 {
    font-family: 'Pacifico', cursive;
    text-align: center;
    font-size: 3.8em;
}
.container a {
    text-align: center;
    color: black;
    /*background-image: url("../images/frame.png");*/
}
.container a div {
    margin: 5px auto;
    padding: 30px 25px;
    width: 85%;
    height: 180px;
    background-image: url("../images/frame.png");
    background-size: 100%;
    background-repeat: no-repeat;
}
.container a h2 {
    font-family: 'Comfortaa', cursive;
    color: #697a1c;
    font-size: 1.4em;
}
.container a p {
    font-size: 0.9em;
}
.container a:hover {
    text-decoration: none;
}
.container a:hover h2 {
    color: #5b6919;
    font-weight: bold;
}