{% extends "base.html" %}
{% block style %}
<link rel="stylesheet" href="static/css/index.css">
{% endblock %}
<!-- Content for starting page -->
{% block name %}<a id="cname" href="{{ url_for('index')}}">DietCreation</a>{% endblock %}
{% block content %}
    <!-- Welcome title -->
    <h1>{% block title %}О нас{% endblock %}</h1>
    
        <br><br><br><br><br><br><br><br><br><br>
        <br><br><br><br><br><br><br><br><br><br>
        <br><br><br><br><br><br><br><br><br><br>
        <br><br><br><br><br><br><br><br><br><br>
        <br><br><br><br><br><br><br><br><br><br>
        <br><br><br><br><br><br><br><br><br><br>
    
    <p>Конец</p>
{% endblock %}