{% extends 'base.html' %}
<!-- Styles -->
{% block style %}
    <link rel="stylesheet" href="static/css/style.css">
{% endblock %}
<!-- Scripts-->
{% block script %}
    <script src="static/js/recipeCreate_script.js"></script>
{% endblock %}
<!-- Content for creating new recipe -->
{% block content %}
    <!-- Button trigger modal -->
    {% if errors %}
        <p class="border border-danger text-center" style="margin: 5px 30%;"> Some products are not listed
            <button type="button" class="btn btn-link" data-toggle="modal" data-target="#Modal">
                Add products
            </button>
        </p>
    {% endif %}
    <!-- Title -->
    <h1>{% block title %} Create a New recipe {% endblock %}</h1>
    <!-- Form for recipe detiels (if it has new products, then after refreshing all data will be on it's place) -->
    <form method="post">
        <!-- Text field for recipe name-->
        <div class="form-group">
            <label for="r_name">Name</label>
            <input type="text" name="r_name" placeholder="Recipe name" 
                class="form-control" value="{{data['r_name']}}"></input>
        </div>
        <!-- Text field for recipe type with list of availiable variants -->
        <div class="form-group">
            <label for="type">Type</label>
            <input list="types" name="type" class="form-control" 
                placeholder="Завтрак/Обед/Ужин/Напиток/другое" 
                value="{{data['type']}}"></input>
            <datalist id="types">
                {% for type in types %}
                    <option value="{{type['type']}}"></option>
                {% endfor %}
            </datalist>
        </div>
        <!-- Ingredients -->
        <h5>Ingredients:</h5>
        <!-- Restoration of entered ingredients -->
        {% if data['ingreds']['names'] %}{% for prod in data['ingreds']['names'] %}
            <div class="form-group" id="repeate_{{loop.index0}}">
                <!-- Ingredient name -->
                <label for="name_{{loop.index0}}">Name</label>
                <input list="products" name="name_{{loop.index0}}" class="form-control" placeholder="1 product name" id="product" 
                        value="{{ data['ingreds']['names'][loop.index0] }}"></input>
                <datalist id="products">
                    {% for product in prods %}
                        <option value="{{product['name']}} [{{product['shop']}}]"></option>
                    {% endfor %}
                </datalist>
                <!-- Ingredient weight -->
                <label for="weight_{{loop.index0}}">Weight (gram)</label>
                <input type="number" step="0.01" name="weight_{{loop.index0}}"
                    placeholder="0.00" class="form-control"
                        value="{{ data['ingreds']['weights'][loop.index0] }}"></input>
            </div>
        {% endfor %}{% else %} <!-- Starting fields for first ingredient -->
            <div class="form-group">
                <!-- Ingredient name -->
                <label for="name_0">Name</label>
                <input list="products" name="name_0" class="form-control" 
                    placeholder="1 product name"></input>  
                <datalist id="products">
                    {% for product in prods %}
                        <option value="{{product['name']}} [{{product['shop']}}]"></option>
                    {% endfor %}
                </datalist>
                <!-- Ingredient weight -->
                <label for="weight_0">Weight (gram)</label>
                <input type="number" step="0.01" name="weight_0"
                    placeholder="0.00" class="form-control"></input>
            </div>
        {% endif %}
        <!-- Place for adding ingredients and button for it -->
        <div id="ingredientAdd"></div>
        <div class="form-group">
            <button id="add" type="button" class="btn btn-secondary">Add ingredient</button>
        </div>
        <!-- Recipe description -->
        <div class="form-group">
            <label for="descr">Description</label>
            <textarea name="descr" placeholder="Recipe description"
                class="form-control">{{ data['descr'] }}</textarea>
        </div>
        <!-- Button for submiting form -->
        <div class="form-group">
            <button type="submit" class="btn btn-primary">Create Recipe</button>
        </div>
        <!-- Modal for creating new products used in recipe -->
        {% if errors %}  
            <div class="modal fade" id="Modal" tabindex="-1" role="dialog" aria-labelledby="ModalLabel" aria-hidden="true">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <!-- Modal header with close button -->
                        <div class="modal-header">
                            <h5 class="modal-title" id="exampleModalLabel">Creating new products</h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <!-- Modal body - carousel with indicators -->
                        <div class="modal-body">
                            <!-- Carousel -->
                            <div id="carousel" class="carousel slide" data-ride="carousel" data-interval="false" data-wrap="false">
                                <!-- Indicators -->
                                <ol class="carousel-indicators">
                                    <li data-target="#carousel" data-slide-to="0" class="active" style="display: none;"></li>
                                    {% for error in errors %}
                                    <li data-target="#carousel" data-slide-to="{{loop.index}}"></li>
                                    {% endfor %}
                                </ol>
                                <!-- Wrapper for slides -->
                                <div class="carousel-inner">
                                    <div class="carousel-item active">
                                        <input type="hidden" name="formType" value="product" style="display:none">
                                        <span>You have some products not in list. Please add the information about them.<br>Click "Next" for starting.</span>
                                    </div>
                                    <!-- Slides with form for each product -->
                                    {% for error in errors %}
                                        <div class="carousel-item">
                                            <!-- Product name -->
                                            <div class="form-group">
                                                <label for="p_name_{{loop.index0}}">Name</label>
                                                <input type="text" name="p_name_{{loop.index0}}"
                                                    placeholder="Product name" class="form-control"
                                                    value="{{error}}"></input>
                                            </div>
                                            <!-- Product weight -->
                                            <div class="form-group">
                                                <label for="p_weight_{{loop.index0}}">Weight (gram)</label>
                                                <input type="number" step="0.01" name="p_weight_{{loop.index0}}" placeholder="0.00"
                                                        class="form-control"></input>
                                            </div>
                                            <!-- Product price -->
                                            <div class="form-group">
                                                <label for="p_price_{{loop.index0}}">Price (rubles)</label>
                                                <input type="number" step="0.01" name="p_price_{{loop.index0}}" placeholder="0.00"
                                                        class="form-control"></input>
                                            </div>
                                            <!-- Product shop -->
                                            <div class="form-group">
                                                <label for="p_shop_{{loop.index0}}">Shop</label>
                                                <input list="shops" name="p_shop_{{loop.index0}}" class="form-control" placeholder="Shop name"></input>
                                                <datalist id="shops">
                                                    {% for shop in shops %}
                                                        <option value="{{shop['name']}}"></option>
                                                    {% endfor %}
                                                </datalist>
                                            </div>
                                        </div>
                                    {% endfor %}
                                </div>
                            </div>
                        </div>
                        <!-- Controls with submiting form button -->
                        <div class="modal-footer">
                            <a href="#carousel" role="button" data-slide="prev">Previous</a>
                            <a href="#carousel" role="button" data-slide="next">Next</a>
                            <button type="submit" class="btn btn-primary">Submit</button>
                        </div>
                    </div>
                </div>
            </div>
        {% endif %}
    </form>
{% endblock %}