{% extends 'base.html' %}
{#<!-- Styles -->#}
{% block style %}
    <link rel="stylesheet" href="static/css/style.css">
    <link rel="stylesheet" href="static/css/create_style.css">
{% endblock %}
{#<!-- Scripts -->#}
{% block script %}
    <script src="static/js/recipeCreate_script.js"></script>
{% endblock %}
{#<!-- App name (link to the home page) -->#}
{% block name %}<a id="cname" href="{{ url_for('index')}}">DietCreation</a>{% endblock %}
{#<!-- Content for creating new recipe -->#}
{% block content %}
    {#<!-- Main header (title) -->#}
    <h1>{% block title %} Новый рецепт {% endblock %}</h1>
    {#<!-- Hint -->#}
    <p id="hint" class="hint"><br></p>
    {#<!-- Hint icon for open/close a hint -->#}
    <div class="list-icons">
        <div class="show-hint">
            <img id="show-hint" src="../static/images/black-hint.svg" alt="Hint icon"
                onclick="openHint()">
        </div>
    </div>
    {#<!-- Form for recipe detiles (if it has new products, then after refreshing all data will be on it's place) -->#}
    <form method="post" class="form">
        {#<!-- Text field for recipe name -->#}
        <div id="recipeName" class="form-group">
            <label for="r_name">Название<span style="color: red;">*</span></label>
            <input type="text" name="r_name" placeholder="Название рецепта" 
                class="form-control" value="" required></input>
        </div>
        {#<!-- Text field for recipe type with list of availiable variants -->#}
        <div id="types">
            <div class="form-group">
                <label for="dishtype">Тип блюда</label>
                <input list="dishtypes" name="dishtype" class="form-control" 
                    placeholder="Суп/Второе блюдо/Десерт/Закуска/Напиток/другое" 
                    value=""></input>
                <datalist id="dishtypes">
                    {% for type in types if type['recipe_type']==1 %}
                        <option value="{{type['type'] | capitalize}}"></option>
                    {% endfor %}
                </datalist>
                <div id="typesAdd"></div>
                <div><button id="addTypes" type="button" class="btn btn-secondary">Дополнительные типы</button></div>
            </div>
        </div>
        {#<!-- Ingredients -->#}
        <div id="ingredients">
            <h5>Ингредиенты<span style="color: red;">*</span>:</h5>
            {#<!-- Starting fields for first ingredient -->#}
            <div class="form-group">
                {#<!-- Ingredient name -->#}
                <label for="name_0">Название 1-го продукта</label>
                <input list="products" name="name_0" class="form-control" 
                    placeholder="Название продукта" value="" required></input>  
                <datalist id="products">
                    {% for product in products %}
                        <option value="{{product['name'] | capitalize}}"></option>
                    {% endfor %}
                    {% for product in r_products %}
                        <option value="{{product['name']}}"></option>
                    {% endfor %}
                </datalist>
                {#<!-- Ingredient weight -->#}
                <div id="weight">
                    <div class="form-group">
                        <label for="weight_0">Количество</label>
                        <input type="number" step="0.01" name="weight_0" placeholder="0.00"
                            class="form-control" value="" required></input>
                    </div>
                    <div class="form-group">
                        <label for="weight-type_0">Измерение</label>
                        <input list="weight-types" name="weight-type_0" placeholder="кг, г, л, мл, шт и т.д."
                            class="form-control" value="" required></input>
                        <datalist id="weight-types">
                            <option value="кг"></option>
                            <option value="г"></option>
                            <option value="л"></option>
                            <option value="мл"></option>
                            <option value="шт"></option>
                        </datalist>
                    </div>
                </div>
            </div>
            {#<!-- Place for adding ingredients -->#}
            <div id="ingredientAdd"></div>
            {#<!-- Button for adding ingredients -->#}
            <div class="form-group">
                <button id="add" type="button" class="btn btn-secondary">Добавить ингредиент</button>
            </div>
        </div>
        {#<!-- Recipe description -->#}
        <div id="description">
            <h5>Приготовление<span style="color: red;">*</span>:</h5>
            <div class="form-group">
                <label for="step_0">Шаг 1<span style="color: red;">*</span></label>
                <textarea name="step_0" placeholder="Описание приготовления рецепта" required
                    class="form-control"></textarea>
            </div>
            <div id="stepAdd"></div>
            <div class="form-group">
                <button id="addStep" type="button" class="btn btn-secondary">Добавить шаг</button>
            </div>
        </div>
        <div class="form-group">
            <input type="checkbox" name="recipe_as_product" id="recipe_as_product" value="1" onclick="choose_type()"/>
            <label for="recipe_as_product">Отметить как отдельный ингредиент</label>
        </div>
        {#<div id="additional-info">
            <div id="additional-infoAdd"></div>
            <div><button id="add-additional-info" type="button" class="btn btn-secondary">Дополнительная информация</button></div>
        </div>#}
        {#<!-- Button for submiting form -->#}
        <div class="form-group">
            <button type="submit" class="btn btn-primary">Сохранить</button>
        </div>
    </form>
{% endblock %}