{% extends 'base.html' %}
{% block style %}
<link rel="stylesheet" href="static/css/create_style.css">
{% endblock %}
{% block script %}
    <script>
        $("#add-info").click(function(){
            $("#adding-info").show();
            $(this).hide();
        });
    </script>
{% endblock %}
{% block name %}<a id="cname" href="{{ url_for('index')}}">DietCreation</a>{% endblock %}
<!-- Content for creating new product -->
{% block content %}
    <!-- Button trigger modal -->
    {% if prod_exist %}
        <p class="border border-danger text-center" style="margin: 5px 30%;"> A product with the same name already exists
            <button type="button" class="btn btn-link" data-toggle="modal" data-target="#Modal">
                See more
            </button>
        </p>
    {% endif %}
    <!-- Title -->
    <h1>{% block title %}Новый продукт{% endblock %}</h1>
    <!-- Form -->
    <form method="post">
        <!-- Text field for product name -->
        <div class="form-group">
            <label for="name">Название</label>
            {% if data['name'] %}
            <input type="text" name="name" placeholder="Название продукта"
                class="form-control" value="{{data['name']}}"></input>
            {% else %}
            <input type="text" name="name" placeholder="Название продукта"
                class="form-control" value=""></input>
            {% endif %}
        </div>
        <!-- Text (number) field for product weight -->
        <div id="weight">
            <div class="form-group">
                <label for="weight">Количество</label>
                <input type="number" step="0.01" name="weight" placeholder="0.00"
                    class="form-control" value="{{data['weight']}}"></input>
            </div>
            <div class="form-group">
                <label for="weight-type">Измерение</label>
                {% if data['weight-type'] %}
                <input list="weight-types" name="weight-type" placeholder="кг, г, л, мл, шт и т.д."
                    class="form-control" value="{{data['weight-type']}}"></input>
                {% else %}
                <input list="weight-types" name="weight-type" placeholder="кг, г, л, мл, шт и т.д."
                    class="form-control" value=""></input>
                {% endif %}
                <datalist id="weight-types">
                    <option value="кг"></option>
                    <option value="г"></option>
                    <option value="л"></option>
                    <option value="мл"></option>
                    <option value="шт"></option>
                </datalist>
            </div>
        </div>
        <div class="form-group">
            <button type="button" class="btn btn-link" id="add-info">Дополнительные сведения</button>
        </div>
        <div id="adding-info" style="display: none;">
            <!-- Text (number) field for product price -->
            <div class="form-group">
                <label for="price">Цена</label>
                <input type="number" step="0.01" name="price" placeholder="0.00"
                    class="form-control" value="{{data['price']}}"></input>
            </div>
            <!-- Text field for product shop with a list of availiable items -->
            <div class="form-group">
                <label for="shop">Магазин</label>
                {% if data['shop'] %}
                <input list="shops" name="shop" class="form-control"
                    placeholder="Название магазина" value="{{data['shop']}}"></input>
                {% else %}
                <input list="shops" name="shop" class="form-control"
                    placeholder="Название магазина" value=""></input>
                {% endif %}
                <datalist id="shops">
                    {% for shop in shops %}
                        <option value="{{shop['name']}}"></option>
                    {% endfor %}
                </datalist>
            </div>
        </div>
        <!-- Button for submiting form -->
        <div class="form-group">
            <button type="submit" class="btn btn-primary">Сохранить</button>
        </div>
        <!-- Modal for creating new products used in recipe -->
        {% if prod_exist %}  
            <div class="modal fade" id="Modal" tabindex="-1" role="dialog" aria-labelledby="ModalLabel" aria-hidden="true">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <!-- Modal header with close button -->
                        <div class="modal-header">
                            <h5 class="modal-title" id="exampleModalLabel">{{data['name']}} ({{data['weight']}}) - {{data['price']}} [{{data['shop']}}]</h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <!-- Modal body -->
                        <div class="modal-body">
                            <p>Продукт(-ы) с таким же названием уже существует. Выберите одно из следующих действий:</p>
                            <div class="form-group">
                                {% for product in prod_exist %}
                                    <input type="radio" name="exist" id="{{product['id']}}"
                                        value="{{product['id']}}"></input>
                                    <label for="{{product['id']}}">{{product['name']}} ({{product['weight']}}) - {{product['price']}} [{{product['shop']}}]</label>
                                    <br>
                                {% endfor %}
                                <input type="radio" name="exist" id="new"
                                    value="new"></input>
                                <label for="new">Создать новый</label>
                            </div>
                        </div>
                        <!-- Controls with submiting form button -->
                        <div class="modal-footer">
                            <button type="submit" class="btn btn-primary">Продолжить</button>
                        </div>
                    </div>
                </div>
            </div>
        {% endif %}
    </form>
{% endblock %}