{% extends 'base.html' %}
<!-- Styles -->
{% block style %}
    <link rel="stylesheet" href="static/css/style.css">
    <link rel="stylesheet" href="static/css/create_style.css">
{% endblock %}
<!-- Scripts-->
{% block script %}
    <script src="static/js/recipeCreate_script.js"></script>
{% endblock %}
{% block name %}<a id="cname" href="{{ url_for('index')}}">DietCreation</a>{% endblock %}
<!-- Content for creating new recipe -->
{% block content %}
    <!-- Title -->
    <h1>{% block title %}Редактирование рецепта<br>"{{ recipe['name'] }}" {% endblock %}</h1>
    {#<!-- Hint -->#}
    <p id="hint" class="hint"><br></p>
    {#<!-- Hint icon for open/close a hint -->#}
    <div class="list-icons">
        <div class="show-hint">
            <img id="show-hint" src="../static/images/black-hint.svg" alt="Hint icon"
                onclick="openHint()">
        </div>
    </div>
    {#<!-- Form for recipe detiles (if it has new products, then after refreshing all data will be on it's place) -->#}
    <form method="post" class="form">
        {#<!-- Text field for recipe name -->#}
        <div id="recipeName" class="form-group">
            <label for="r_name">Название<span style="color: red;">*</span></label>
            <input type="text" name="r_name" placeholder="Название рецепта" 
                class="form-control" value="{{recipe['name']}}" required></input>
        </div>
        {#<!-- Text field for recipe type with list of availiable variants -->#}
        <div id="types">
            <div class="form-group">
                <label for="dishtype">Тип блюда</label>
                {% if recipe['dish_type'] %}
                <input list="dishtypes" name="dishtype" class="form-control" 
                    placeholder="Суп/Второе блюдо/Десерт/Закуска/Напиток/другое" 
                    value="{{recipe['dish_type'] | capitalize}}"></input>
                {% else %}
                <input list="dishtypes" name="dishtype" class="form-control" 
                    placeholder="Суп/Второе блюдо/Десерт/Закуска/Напиток/другое" 
                    value=""></input>
                {% endif %}
                <datalist id="dishtypes">
                    {% for type in types if type['recipe_type']==1 %}
                        <option value="{{type['type'] | capitalize}}"></option>
                    {% endfor %}
                </datalist>
                {% if recipe['meal_type'] or recipe['kitchen_type'] or recipe['other_type'] %}
                    <label for="mealtype">Прием пищи</label>
                    {% if recipe['dish_type'] %}
                    <input list="mealtypes" name="mealtype" class="form-control" 
                        placeholder="Завтрак/Перекус/Обед/Полдник/Ужин/другое"
                        value="{{recipe['meal_type'] | capitalize}}"></input>
                    {% else %}
                    <input list="mealtypes" name="mealtype" class="form-control" 
                        placeholder="Завтрак/Перекус/Обед/Полдник/Ужин/другое"
                        value=""></input>
                    {% endif %}
                    <datalist id="mealtypes">
                        {% for type in types if type['recipe_type']==2 %}
                            <option value="{{type['type'] | capitalize}}"></option>
                        {% endfor %}
                    </datalist>

                    <label for="kitchentype">Кухня</label>
                    {% if recipe['kitchen_type'] %}
                    <input list="kitchentypes" name="kitchentype" class="form-control" 
                        placeholder="Русская/Украинская/Китайская/Французская/другое" 
                        value="{{recipe['kitchen_type'] | capitalize}}"></input>
                    {% else %}
                    <input list="kitchentypes" name="kitchentype" class="form-control" 
                        placeholder="Русская/Украинская/Китайская/Французская/другое" 
                        value=""></input>
                    {% endif %}
                    <datalist id="kitchentypes">
                        {% for type in types if type['recipe_type']==3 %}
                            <option value="{{type['type'] | capitalize}}"></option>
                        {% endfor %}
                    </datalist>

                    <label for="othertype">Прочее</label>
                    {% if recipe['other_type'] %}
                    <input list="othertypes" name="othertype" class="form-control" 
                        placeholder="Рыба/Мясо/Диетическое/другое" 
                        value="{{recipe['other_type'] | capitalize}}"></input>
                    {% else %}
                    <input list="othertypes" name="othertype" class="form-control" 
                        placeholder="Рыба/Мясо/Диетическое/другое" 
                        value=""></input>
                    {% endif %}
                    <datalist id="othertypes">
                        {% for type in types if type['recipe_type']==4 %}
                            <option value="{{type['type'] | capitalize}}"></option>
                        {% endfor %}
                    </datalist>
                {% else %}
                    <div id="typesAdd"></div>
                    <div><button id="addTypes" type="button" class="btn btn-secondary">Дополнительные типы</button></div>
                {% endif %}
            </div>
        </div>
        {#<!-- Ingredients -->#}
        <div id="ingredients">
            <h5>Ингредиенты<span style="color: red;">*</span>:</h5>
            {#<!-- Restoration of entered ingredients -->#}
            {% for ingredient in recipe['ingredients']['name'] %}
                <div class="form-group" id="repeate_{{loop.index0}}">
                    <!-- Ingredient name -->
                    <label for="name_{{loop.index0}}">Название {{loop.index}}-ого продукта</label>
                    <input list="products" name="name_{{loop.index0}}" class="form-control" placeholder="Название продукта"
                            value="{{ ingredient | capitalize }}"></input>
                    <datalist id="products">
                        {% for product in products %}
                            <option value="{{product['name'] | capitalize}}"></option>
                        {% endfor %}
                        {% for product in r_products %}
                            <option value="{{product['name'] | capitalize}}"></option>
                        {% endfor %}
                    </datalist>
                    {#<!-- Ingredient weight -->#}
                    <div id="weight">
                        <div class="form-group">
                            <label for="weight_{{loop.index0}}">Количество</label>
                            <input type="number" step="0.01" name="weight_{{loop.index0}}" placeholder="0.00"
                                class="form-control" value="{{recipe['ingredients']['weight'][loop.index0]}}" required></input>
                        </div>
                        <div class="form-group">
                            <label for="weight-type_{{loop.index0}}">Измерение</label>
                            <input list="weight-types" name="weight-type_{{loop.index0}}" placeholder="кг, г, л, мл, шт и т.д."
                                class="form-control" value="{{recipe['ingredients']['weight_type'][loop.index0]}}" required></input>
                            <datalist id="weight-types">
                                <option value="кг"></option>
                                <option value="г"></option>
                                <option value="л"></option>
                                <option value="мл"></option>
                                <option value="шт"></option>
                            </datalist>
                        </div>
                    </div>
                </div>
            {% endfor %}
            {% if recipe['ingredients']['name'].length != 30 %}
                {#<!-- Place for adding ingredients -->#}
                <div id="ingredientAdd"></div>
                {#<!-- Button for adding ingredients -->#}
                <div class="form-group">
                    <button id="add" type="button" class="btn btn-secondary">Добавить ингредиент</button>
                </div>
            {% endif %}
        </div>
        {#<!-- Recipe description -->#}
        <div id="description">
            <h5>Приготовление<span style="color: red;">*</span>:</h5>
            {% for step in recipe['description'] %}
                <div class="form-group" id="step_repeate_{{loop.index0}}">
                    <label for="step_{{loop.index0}}">Шаг {{loop.index}}<span style="color: red;">*</span></label>
                    <textarea name="step_{{loop.index0}}" placeholder="Описание приготовления рецепта"
                        class="form-control">{{step}}</textarea>
                </div>
            {% endfor %}
            {% if recipe['description'].length != 30%}
                <div id="stepAdd"></div>
                <div class="form-group">
                    <button id="addStep" type="button" class="btn btn-secondary">Добавить шаг</button>
                </div>
            {% endif %}
        </div>
        <div class="form-group">
            {% if recipe['as_product'] == 1 %}
                <input type="checkbox" name="recipe_as_product" id="recipe_as_product" value="1" onclick="choose_type()" checked/>
            {% else %}
                <input type="checkbox" name="recipe_as_product" id="recipe_as_product" value="1" onclick="choose_type()"/>
            {% endif %}
            <label for="recipe_as_product">Отметить как отдельный ингредиент</label>
        </div>
        {#<div id="additional-info">
            {% if recipe['portions'] %}
                <div class="form-group">
                    <label for="portions">Количество порций</label>
                    <input type="number" step="0.5" name="portions" placeholder="1"
                        class="form-control" value="1"></input>
                </div>
            {% else %}
                <div id="additional-infoAdd"></div>
                <div><button id="add-additional-info" type="button" class="btn btn-secondary">Дополнительная информация</button></div>
            {% endif %}
        </div>#}
        {#<!-- Button for submiting form -->#}
        <div class="form-group">
            <button type="submit" class="btn btn-primary">Сохранить</button>
        </div>
    </form>
{% endblock %}