{% extends 'base.html' %}
{% block style %}
<link rel="stylesheet" href="static/css/create_style.css">
{% endblock %}
{% block script %}
    <script>
        $("#add-info").click(function(){
            $("#adding-info").show();
            $(this).hide();
        });
    </script>
{% endblock %}
{% block name %}<a id="cname" href="{{ url_for('index')}}">DietCreation</a>{% endblock %}
<!-- Content for editing product -->
{% block content %}
    <!-- Button trigger modal -->
    {% if prod_exist %}
        <p class="border border-danger text-center" style="margin: 5px 30%;"> Продукт с таким же названием уже существует в вашем списке.
            <button type="button" class="btn btn-link" data-toggle="modal" data-target="#Modal">
                Смотри больше
            </button>
        </p>
    {% endif %}
    <!-- Title -->
    <h1>{% block title %} Редактирование продукта<br>"{{product['name']}}" {% endblock %}</h1>
    <!-- Form -->
    <form method="post">
        <!-- Text field for product name -->
        <div class="form-group">
            <label for="name">Название</label>
            <input type="text" name="name"
                placeholder="Название продукта" class="form-control" 
                value="{{ product['name'] }}"></input>
        </div>
        <!-- Text (number) field for product weight -->
        <div id="weight">
            <div class="form-group">
                <label for="weight">Количество</label>
                <input type="number" step="0.01" name="weight" placeholder="0.00"
                    class="form-control" value="{{product['weight']}}"></input>
            </div>
            <div class="form-group">
                <label for="weight-type">Измерение</label>
                <input list="weight-types" name="weight-type" placeholder="кг, г, л, мл, шт и т.д."
                    class="form-control" value="{{product['weight-type']}}"></input>
                <datalist id="weight-types">
                    <option value="кг"></option>
                    <option value="г"></option>
                    <option value="л"></option>
                    <option value="мл"></option>
                    <option value="шт"></option>
                </datalist>
            </div>
        </div>
        <!-- Text (number) field for product price -->
        <div class="form-group">
            <label for="price">Цена</label>
            <input type="number" step="0.01" name="price" placeholder="0.00"
                class="form-control" value="{{ product['price'] }}"></input>
        </div>
        <!-- Text field for product shop with a list of availiable items -->
        <div class="form-group">
            <label for="shop">Магазин</label>
            {% if product['shop'] != "unknown" %}
            <input list="shops" name="shop" class="form-control"
                placeholder="Название магазина" value="{{ product['shop'] }}"></input>
            {% else %}
            <input list="shops" name="shop" class="form-control"
                placeholder="Название магазина" value=""></input>
            {% endif %}
            <datalist id="shops">
                {% for shop in shops if shop['id'] != 1 %}
                    <option value="{{shop['name']}}"></option>
                {% endfor %}
            </datalist>
        </div>
        <!-- Button for submiting form -->
        <div class="form-group">
            <button type="submit" class="btn btn-primary">Сохранить</button>
        </div>
        <!-- Modal for creating new products used in recipe -->
        {% if prod_exist %}  
            <div class="modal fade" id="Modal" tabindex="-1" role="dialog" aria-labelledby="ModalLabel" aria-hidden="true">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <!-- Modal header with close button -->
                        <div class="modal-header">
                            <h5 class="modal-title" id="exampleModalLabel">{{data['name']}} ({{data['weight']}} {{data['weight-type']}}){% if data['price'] != ''  %} - {{data['price']}} &#8381{% endif %}{% if data['shop'] != 'unknown' %} [{{data['shop']}}]{% endif %}</h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <!-- Modal body -->
                        <div class="modal-body">
                            <p>Продукт(-ы) с таким же названием уже существует. Выберите одно из следующих действий:</p>
                            <div class="form-group">
                                {% for product in prod_exist %}
                                    <input type="radio" name="exist" id="{{product['id']}}"
                                        value="{{product['id']}}"></input>
                                    <label for="{{product['id']}}">{{product['name']}} ({{product['weight']}} {{product['weightType']}}){% if data['price'] != ''  %} - {{product['price']}} &#8381{% endif %}{% if data['shop'] != 'unknown' %} [{{product['shop']}}]{% endif %}</label>
                                    <br>
                                {% endfor %}
                                <input type="radio" name="exist" id="new"
                                    value="new"></input>
                                <label for="new">Создать новый</label>
                            </div>
                        </div>
                        <!-- Controls with submiting form button -->
                        <div class="modal-footer">
                            <button type="submit" class="btn btn-primary">Продолжить</button>
                        </div>
                    </div>
                </div>
            </div>
        {% endif %}
    </form>
{% endblock %}