{% extends "base.html" %}
{% block style %}
<link rel="stylesheet" href="static/css/index.css">
{% endblock %}
<!-- Content for starting page -->
{% block content %}
    <!-- Welcome title -->
    <h1>{% block title %} DietCreation {% endblock %}</h1>
    <!-- Look at the products list -->
    <div>
        <a href="#">{#{{url_for('products')}}#}
            <h2>Продукты</h2>
            <p style="font-size: small; line-height: 2px; margin-bottom: 10px; color: red;">(Эта функция пока недоступна)</p>
            <p>Сохраните список продуктов, которые вы используете.</p>
        </a>
    </div>
    <!-- Look at the recipes list -->
    <div>
        <a href="{{url_for('recipes')}}">{#{{url_for('recipes')}}#}
            <h2>Рецепты</h2>
            {#<p style="font-size: small; line-height: 2px; margin-bottom: 10px; color: red;">(Эта функция пока недоступна)</p>#}
            <p>Создайте книгу своих рецептов.</p>
        </a>
    </div>
    <!-- Look at the menu -->
    <div>
        <a href="#">{# {{url_for('menus')}} #}
            <h2>Меню</h2>
            <p style="font-size: small; line-height: 2px; margin-bottom: 10px; color: red;">(Эта функция пока недоступна)</p>
            <p>Создавайте меню на неделю, две или целый месяц.</p>
            
        </a>
    </div>
    {#
    <!-- Test before implementing to the page -->
    <a href="{{url_for('test', menu_id=1)}}">
        <h2> Test </h2>
    </a>
    <hr>
    
        <!-- Other tests -->
        <a href="{{url_for('tests')}}">
            <h2> Other Tests</h2>
        </a>
     #}
{% endblock %}