{% extends "base.html" %}
<!-- Content for starting page -->
{% block content %}
    <!-- Welcome title -->
    <h1>{% block title %} Welcome to DietCreation {% endblock %}</h1>
    <!-- Look at the products list -->
    <a href="{{url_for('products')}}">
        <h2> Products</h2>
    </a>
    <hr>
    <!-- Look at the recipes list -->
    <a href="{{url_for('recipes')}}">
        <h2> Recipes</h2>
    </a>
    <hr>
    <!-- Look at the menu -->
    <a href="{{url_for('menus')}}">
        <h2> Menu</h2>
    </a>
    <hr>
    {# 
        <!-- Test before implementing to the page -->
        <a href="{{url_for('test')}}">
            <h2> Test </h2>
        </a>
        <hr>
        <!-- Other tests -->
        
        <a href="{{url_for('tests')}}">
            <h2> Other Tests</h2>
        </a>
     #}
{% endblock %}