{% extends "base.html" %}

{% block content %}
    <h1>{% block title %} List of Products {% endblock %}</h1>
    <a href="{{url_for('create_p')}}">
        <span class="badge badge-primary">New Product</span>
    </a>
    <br>
    <table class="table">
        <thead class="thead-light"><tr>
            <th scope="col"> Name </th>
            <th scope="col"> Weight </th>
            <th scope="col"> Price </th>
            <th scope="col"> Shop </th>
            <th scope="col"></th>
        </tr></thead>
        <tbody>
            {% for product in products %}
                <tr>
                    <td scope="row"> {{ product['name']}} </td>
                    <td> {{ product['weight']}} </td>
                    <td> {{ product['price']}} </td>
                    <td> 
                        {% for shop in shops %}
                            {% if product['shop_id'] == shop['id'] %}
                                {{ shop['name']}} 
                            {% endif %}
                        {% endfor %}
                    </td>
                    <td> 
                        <form action="{{ url_for('delete_p', id=product['id']) }}" method="POST">
                            <input type="submit" value="Delete"
                                    class="btn btn-outline-danger btn-sm"
                                    onclick="return confirm('Are you sure you want to delete this product?')">
                        </form>
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}