{% extends "base.html" %}
{% block name %}<a id="cname" href="{{ url_for('index')}}">DietCreation</a>{% endblock %}
<!-- Content for displaying list of products -->
{% block content %}
    <!-- Title -->
    <h1>{% block title %}Список продуктов{% endblock %}</h1>
    <!-- Badge (button) for creating new product -->
    <div class="list-icons">
        <a href="{{url_for('create_p')}}">
            <span class="badge badge-primary">N</span>
        </a>
        {#
        <div id="search">
            <span type="button" class="badge badge-primary">S</span>
            <input></input>
        </div>
        #}
    </div>
    <!-- Displaying a list of products in a table (col: name, weight, price, shop, actions)-->
    <table class="table">
        <!-- Table head -->
        <thead><tr>
            <th scope="col">Название</th>
            <th scope="col">Кол-во</th>
            {#<th scope="col">Цена</th>
            <th scope="col">Магазин</th>#}
            <th scope="col"></th>
        </tr></thead>
        <!-- Table body -->
        <tbody>
            <!-- For each product in data create a new row in a table -->
            {% for product in products %}
                <tr>
                    <td scope="row"> {{ product['name'] }} </td>
                    <td> {{ product['weight'] }} </td>
                    {#<td> {{ product['price'] }} </td>
                    <td> {{ product['shop'] }} </td>#}
                    <td> 
                        <form action="{{ url_for('delete_p', id=product['id']) }}" method="POST" style="display: inline-block;">
                            <input type="submit" value="D"
                                    class="btn btn-outline-danger btn-sm"
                                    onclick="return confirm('Вы уверены, что хотите удалить этот продукт?')">
                        </form>
                        <a href="{{ url_for('edit_p', id=product['id']) }}" style="display: inline-block;">
                            <span class="btn btn-outline-warning btn-sm">E</span>
                        </a>
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}