{% extends "base.html" %}
{% block script %}
    <script>
        function openHint() {
            var hint = document.getElementById("hint");
            //toggle adds a class if it's not there or removes it if it is.
            hint.classList.toggle("open-hint");
        }
    </script>
{% endblock %}
{% block name %}<a id="cname" href="{{ url_for('index')}}">DietCreation</a>{% endblock %}
<!-- Content for displaying list of products -->
{% block content %}
    <!-- Title -->
    <h1>{% block title %}Список продуктов{% endblock %}</h1>
    <p id="hint" class="hint">Создайте список продуктов, которыми вы пользуетесь, указав их название и количество в упаковке (кг, г, л, шт и тд).</p>
    <!-- Badge (button) for creating new product -->
    <div class="list-icons">
        <a href="{{url_for('create_p')}}">
            <img src="../static/images/add.svg" alt="Add new item icon">
        </a>
        {#
        <div id="search">
            <img src="../static/images/search.svg" alt="Search icon">
            <span type="button" class="badge badge-primary">S</span>
            <input></input>
        </div>
        #}
        <div class="show-hint">
            <img id="show-hint" src="../static/images/black-hint.svg" alt="Hint icon"
                onclick="openHint()">
        </div>
    </div>
    <!-- Displaying a list of products in a table (col: name, weight, price, shop, actions)-->
    <table class="table">
        <!-- Table head -->
        <thead><tr>
            <th scope="col">Название</th>
            <th scope="col">Кол-во</th>
            <th scope="col"></th>
        </tr></thead>
        <!-- Table body -->
        <tbody>
            {% if products %}
            <!-- For each product in data create a new row in a table -->
            {% for product in products %}
                <tr>
                    <td scope="row"><a href="{{url_for('product', product_id=product['id'])}}">{{ product['name'] }}</a></td>
                    <td> {{ product['weight'] }} {{ product['weightType'] }} </td>
                    <td class="buttons"> 
                        <form action="{{ url_for('delete_p', id=product['id']) }}" method="POST">
                            <input type="image" src="../static/images/trash.svg" value="Удалить" id="delete"
                                    onclick="return confirm('Подтвердите удаление')">
                        </form>
                        <a href="{{ url_for('edit_p', id=product['id']) }}">
                            <img id="edit" src="../static/images/edit.svg" alt="Edit icon">
                        </a>
                    </td>
                </tr>
            {% endfor %}
            {% else %}
                <tr class="empty-list"><td scope="row" colspan="3">Ваш список продуктов пуст.<br>
                    <a href="{{url_for('create_p')}}">
                        <span class="badge badge-primary">Добавить продукт</span>
                    </a>
                </td></tr>
            {% endif %}
        </tbody>
    </table>
{% endblock %}