
{% extends "base.html" %}
{#<!-- Script -->#}
    {% block script %}
        <script src="static/js/recipes.js"></script>
    {% endblock %}
{#<!-- App name (link to the home page) -->#}
    {% block name %}<a id="cname" href="{{ url_for('index')}}">DietCreation</a>{% endblock %}
{#<!-- Content for displaying list of recipes -->#}
{% block content %}
    {#<!-- Main header (title)-->#}
    <h1>{% block title %}Список рецептов{% endblock %}</h1>
    {#<!-- If user is authenticated then show users panel -->#}
    {% if current_user.is_authenticated %}
        {#<!-- Hint text for this page-->#}
        <p id="hint" class="hint">Создайте книгу своих любимых рецептов или добавьте понравившийся из общего списка.<br>Вы так же можете посмотреть всю информацию о рецепте нажав на него.</p>
        {#<!-- List (line) with general icons -->#}
        <div class="list-icons">
            {#<!-- Add icon (button) for creating new recipe -->#}
            <a href="{{url_for('create_r')}}">
                <img src="../static/images/add.svg" alt="Add new item icon">
            </a>
            {#<!-- Search icon (button) for searching recipes -->#}
            <div id="search">
                <img src="../static/images/search.svg" alt="Search icon">
                <span type="button" class="badge badge-primary">S</span>
                <input></input>
            </div>
            {#<!-- Hint icon (button) for open/hide a hint -->#}
            {#<div class="show-hint">
                <img id="show-hint" src="../static/images/black-hint.svg" alt="Hint icon"
                    onclick="openHint()">
            </div>#}
        </div>
    {#<!-- If user is not authenticated then let him know to login -->#}
    {% else %}
        <p>Вам необходимо <a href="{{url_for('login')}}" style="color: blue;">авторизоваться</a>, чтобы вы могли создавать и сохранять рецепты.</p>
    {% endif %}
    {#<!-- Header of the list (with buttons) -->#}
    <div class="recipes-header">
        {% if current_user.is_authenticated %}
            {% if my_recipes %}
                <span id="my" class="show-recipes" onclick="recipes('{{current_user.id}}', '{{current_user.id}}')">Мои рецепты</span>
            {% else %}
                <span id="my" onclick="recipes('{{current_user.id}}', '{{current_user.id}}')">Мои рецепты</span>
            {% endif %}
        {% endif %}
        {% if my_recipes %}
            <span id="total" onclick="recipes(0, '{{current_user.id}}')">Все рецепты</span>
        {% else %}
            <span id="total" class="show-recipes" onclick="recipes(0, '{{current_user.id}}')">Все рецепты</span>
        {% endif %}
    </div>
    {#<!-- List of recipes (total/own). If there is any recipe in data then show them all. -->#}
    <div id="list-of-recipes">
        {% if my_recipes %}
        <div id="my-recipes">
            {#<!-- For each recipe in data create a new block -->#}
            {% if my_recipes %}
                {% for recipe in my_recipes %}
                    <div class="recipe-info my-recipe">
                        <a href="{{url_for('recipe', recipe_id=recipe['id'])}}">
                        <h4>{{ recipe['name'] }}</h4>
                        <div class="recipe-type">{% if recipe['type'] != "general" %}{{ recipe['type'] }}{% else %}<br>{% endif %}</div>
                        <p>Ингредиенты: 
                            {{ recipe['ingredients'] }}
                        </p>
                        </a>
                        {% if current_user.is_authenticated %}
                            {% if current_user.id != recipe['createdBy'] %}
                                {% if my_heart['heart'][loop.index0] %}
                                    <div  id="recipe_{{ recipe['id']}}" class='heart' onclick="like(1,'{{current_user.id}}', '{{recipe[0]}}')" style="color: red;">&#9829;</div>
                                {% else %}
                                    <div  id="recipe_{{ recipe['id']}}" class='heart' onclick="like(1,'{{current_user.id}}', '{{recipe[0]}}')">&#9829;</div>
                                {% endif %}
                            {% else %}
                                <div class="acts">
                                    <form action="{{ url_for('delete_r', recipe_id=recipe['id']) }}" method="POST">
                                        <input type="image" src="../static/images/delete2.svg" value="Удалить" id="delete"
                                                onclick="return confirm('Подтвердите удаление')">
                                    </form> 
                                    <a href="{{ url_for('edit_r', recipe_id=recipe['id']) }}">
                                        <img src="../static/images/edit.svg" alt="Edit icon">
                                    </a>
                                </div>
                            {% endif %}
                        {% endif %}
                    </div>
                {% endfor %}
            {#<!-- If there is no recipe in data then let user know. -->#}
            {% else %}
                <div class="recipe-info">
                    <p style="text-align: center;">Пока что в нашей базе нет ни одного рецепта</p>
                    <a href='{{url_for("create_r")}}'><span class='badge badge-primary'>Добавить рецепт</span></a>
                </div>
            {% endif %}
        </div>
        {% else %}
        <div id="total-recipes">
            {#<!-- For each recipe in data create a new block -->#}
            {% if recipes %}
                {% for recipe in recipes %}
                    <div class="recipe-info">
                        <a href="{{url_for('recipe', recipe_id=recipe['id'])}}">
                        <h4>{{ recipe['name'] }}</h4>
                        <div class="recipe-type">{% if recipe['type'] != "general" %}{{ recipe['type'] }}{% else %}<br>{% endif %}</div>
                        <p>Ингредиенты: 
                            {{ recipe['ingredients'] }}
                        </p>
                        </a>
                        {% if current_user.is_authenticated and current_user.id != recipe['createdBy'] %}
                            {% if total_heart['heart'][loop.index0] %}
                                <div  id="recipe_{{ recipe['id']}}" class='heart' onclick="like(1,'{{current_user.id}}', '{{recipe[0]}}')" style="color: red;">&#9829;</div>
                            {% else %}
                            <div  id="recipe_{{ recipe['id']}}" class='heart' onclick="like(1,'{{current_user.id}}', '{{recipe[0]}}')">&#9829;</div>
                            {% endif %}
                            
                        {% endif %}
                    </div>
                {% endfor %}
            {#<!-- If there is no recipe in data then let user know. -->#}
            {% else %}
                <div class="recipe-info">
                    <p style="text-align: center;">Пока что в нашей базе нет ни одного рецепта</p>
                </div>
            {% endif %}
        </div>
        {% endif %}
    </div>
{% endblock %}