{% extends "base.html" %}
{% block name %}<a id="cname" href="{{ url_for('index')}}">DietCreation</a>{% endblock %}
<!-- Content for displaying chosen recipe -->
{% block content %}
    <!-- Recipe name -->
    <h1>{% block title %} {{recipe['name']}} {% endblock %}
        <!-- Recipe type -->
        <br><span style="font-size: small; margin-top: -10px;">({{ recipe['type'] }})</span>
    </h1>
    <div class="info">
        <!-- List of ingredients-->
        <div style="width: 300px;">
            <h5>Ингредиенты:</h5>
            {% for ingred in ingreds %}
                <div class="d-flex justify-content-between align-items-center">
                    <a href="{{url_for('product', product_id=ingred['prod_id'])}}" style="color: black;">
                        {{ingred['name']}}
                    </a>
                    <span class="badge badge-primary badge-pill">{{ingred['weight']}} {{ingred['weight_type']}}</span>
                </div>
            {% endfor %}
        </div>
        <hr>
        <!-- Recipe description -->
        <h5>Приготовление:</h5>
        <p>{{recipe['descr']}}</p>
        <br>
        <div>
            <form action="{{ url_for('delete_r', recipe_id=recipe['id']) }}" method="POST"style="display: inline-block;">
                <input type="submit" value="Удалить"
                        class="btn btn-outline-danger btn-sm"
                        onclick="return confirm('Подтвердите удалениие')">
            </form>
            <a href="{{ url_for('edit_r', recipe_id=recipe['id']) }}" style="display: inline-block;">
                <span class="btn btn-outline-warning btn-sm">Изменить</span>
            </a>
        </div>
    </div>
{% endblock %}