{% extends "base.html" %}
{% block name %}<a id="cname" href="{{ url_for('index')}}">DietCreation</a>{% endblock %}
{% block style %}
<link rel="stylesheet" href="static/css/user_style.css">
{% endblock %}
{% block script %}
    <script src="static/js/user_script.js"></script>
{% endblock %}
{% block user_icon %}
    {% if current_user.icon %}
        <div class="navbar-brand choose-avatar-icon" onclick="selectAvatar()"><img src ="{{current_user.icon}}" alt = "User icon"/></div>
    {% endif %}
{% endblock %}
<!-- Content for starting page -->
{% block content %}
    <div class="choose-avatar"></div>
    <!-- Welcome title -->
    <!--<p>{{username}}</p>-->
    <h1>{% block title %} {{current_user.username}} {% endblock %}</h1>
    <!-- Overview of the user's data -->
    <div class="data">
        {#<!-- Products -->#}
        <p><a class="user-data" href="#" >{#{{url_for('products')}}#}Продукты</a>: Эта функция пока недоступна.
        {#{% if data['products'] != 0 %}
            {{data['products']}}
        {% else %}
            0<a href="{{url_for('create_p')}}">
                    <span class="badge badge-primary">Добавить продукт</span>
                </a>
        {% endif %}#}
        </p>
        {#<!-- Recipes -->#}
        <p><a class="user-data" href="{{url_for('recipes')}}">{#{{url_for('recipes')}}#}Рецепты</a>: {#Эта функция пока недоступна.#}
            {% if data['recipes'] != 0 %}
                {{data['recipes']}}
            {% else %}
                0<a href="{{url_for('create_r')}}">
                        <span class="badge badge-primary">Создать рецепт</span>
                    </a>
                    <a href="{{url_for('recipes')}}">
                        <span class="badge badge-primary">Выбрать из базы</span>
                    </a>
            {% endif %}
        </p>
        {#<!-- Menus -->#}
        <p><a class="user-data" href="#">{#{{url_for('menus')}}#}Меню</a>: Эта функция пока недоступна.
            {#{% if data['menus'] != 0 %}
                {{data['menus']}}
            {% else %}
                0<a href="{{url_for('create_m')}}">
                        <span class="badge badge-primary">Создать рецепт</span>
                    </a>
            {% endif %}#}
        </p>
    </div>
    <a href="{{ url_for('logout') }}" class="logout btn btn-danger">Logout</a>
{% endblock %}